@import "mixin";
// -----------------------------------------------
// root
// -----------------------------------------------

:root {
  --white: #fff;
  --black: #000;
  --table_stripe: #efefef;
  --table_hover: #c5c5c5;
  --border_color: #dee2e6;
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #0dcaf0;
  --light: #f8f9fa;
  --dark: #212529;
  --info: #0d6efd;
}
@import "reset";
@import "font";
// -----------------------------------------------
// body
// -----------------------------------------------

body {
  line-height: 1;
  word-break: break-word;
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
  font-size: lg(16);
  @include minlg{
  	font-size: 16px;
  }
  @include sm{
  	font-size: sm(16);
  }
  @include tb{
  	font-size: tb(15);
  }
  @include sp{
  	font-size: sp(14);
  }
}


@import "width";
@import "set";
